@charset "UTF-8";
.msg {
  font-size: 1.0625rem;
  width: 62.5rem;
  line-height: 2.11765;
  margin: auto;
}

.msg .top_txt {
  line-height: 2.11765;
}

.msg strong {
  font-size: 3.375rem;
  color: #182987;
  font-weight: normal;
  line-height: 1.75;
}

@media only screen and (max-width: 767px) {
  .msg {
    width: 89.56975vw;
    font-size: 1rem;
    max-width: 89.56975vw;
  }
  .msg strong {
    display: block;
    line-height: 0.57143;
    margin-top: calc(2.14286rem - (((1em*0.57143) - 1em)/2));
    margin-bottom: calc(1.07143rem - (((1em*0.57143) - 1em)/2));
  }
}

.under_link {
  color: #182987;
  text-decoration: underline;
}

.contact_form_wrap {
  color: #333;
}

@media print, screen and (min-width: 768px) {
  .contact_form_wrap {
    margin: 7.5rem 0;
    position: relative;
  }
  .contact_form_wrap::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
    background-color: #f0f0f0;
    height: 98.5%;
    width: 75rem;
  }
  .contact_form_wrap .form_box {
    width: 83.33333%;
    margin: auto;
  }
  .contact_form_wrap .reserve_box {
    margin: 0rem auto 2.5rem;
    width: 60rem;
  }
  .contact_form_wrap .left_box {
    position: relative;
    width: 31.25%;
  }
  .contact_form_wrap .contact_txt_box {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.125rem;
    line-height: 1.75;
    color: #fff;
    text-align: center;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .contact_form_wrap .contact_txt_box .reserve_inner_box {
    background-color: rgba(202, 58, 50, 0.8);
    padding: 1.0625rem 0;
    width: 75%;
    margin: auto;
  }
  .contact_form_wrap .contact_txt_box .reserve_inner_box span {
    font-size: 1.375rem;
    line-height: 1.36364;
  }
  .contact_form_wrap .contact_txt_box .reserve_inner_box small {
    line-height: 1.75;
    font-size: 0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact_form_wrap .contact_txt_box .reserve_inner_box small::before {
    content: '';
    border-top: 2px solid;
    margin-right: 3.55556%;
    width: 5.33333%;
  }
  .contact_form_wrap .right_box {
    width: 68.75%;
    background-color: #fff;
  }
  .contact_form_wrap .right_box .reserve_txt_box {
    margin: auto;
    padding: 2.25rem 0;
    width: 87.87879%;
  }
  .contact_form_wrap .right_box .reserve_ttl {
    margin-bottom: 1.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact_form_wrap .right_box .reserve_ttl::before {
    content: "";
    border-top: 1px solid;
    width: 2.72727%;
    margin-right: 1.81818%;
  }
  .contact_form_wrap .right_box .reserve_txt {
    letter-spacing: 0.014em;
    font-size: 0.875rem;
    line-height: 1.64286;
  }
  .contact_form_wrap dl {
    padding: 2.5% 1.66667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.125rem;
    border-top: 1px solid #dfdfdf;
  }
  .contact_form_wrap dl dt {
    font-weight: 500;
    color: #182987;
    width: 16.875rem;
  }
  .contact_form_wrap dl dd {
    width: calc(100% - 16.875rem);
    margin-left: auto;
  }
  .contact_form_wrap dl dd input[type="text"],
  .contact_form_wrap dl dd input[type="email"] {
    height: 2.8125rem;
    width: 100%;
    padding: 8px;
  }
  .contact_form_wrap dl dd.zip {
    margin-left: 0;
    margin-bottom: 1.5rem;
  }
  .contact_form_wrap dl dd.zip input {
    width: 9.375rem;
  }
  .contact_form_wrap dl dd textarea {
    padding: 8px;
    height: 17.8125rem;
  }
  .contact_form_wrap dl dd.harf input {
    width: 20.625rem;
  }
  .contact_form_wrap dl .radio_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact_form_wrap dl .radio_list > * {
    margin-left: 0 !important;
    width: 50%;
  }
  .contact_form_wrap dl .radio_list > *:not(:nth-child(-n+2)) {
    margin-top: 2.1875rem;
  }
  .contact_form_wrap dl .radio_list label input[type="radio"],
  .contact_form_wrap dl .radio_list02 label input[type="radio"] {
    opacity: 0;
    position: absolute;
    z-index: -100;
  }
  .contact_form_wrap dl .radio_list label span,
  .contact_form_wrap dl .radio_list02 label span {
    padding-left: 2rem;
    position: relative;
    display: inline-block;
  }
  .contact_form_wrap dl .radio_list label span::before, .contact_form_wrap dl .radio_list label span:after,
  .contact_form_wrap dl .radio_list02 label span::before,
  .contact_form_wrap dl .radio_list02 label span:after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .contact_form_wrap dl .radio_list label span::before,
  .contact_form_wrap dl .radio_list02 label span::before {
    background: #fff;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contact_form_wrap dl .radio_list label span::after,
  .contact_form_wrap dl .radio_list02 label span::after {
    background: #182987;
    width: 0.75rem;
    height: 0.75rem;
    left: 0.375rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: none;
  }
  .contact_form_wrap dl .radio_list label input[type="radio"],
  .contact_form_wrap dl .radio_list02 label input[type="radio"] {
    opacity: 0;
    position: absolute;
    z-index: -100;
  }
  .contact_form_wrap dl .radio_list label input[type="radio"]:checked + span::after,
  .contact_form_wrap dl .radio_list02 label input[type="radio"]:checked + span::after {
    display: block;
  }
  .contact_form_wrap dl .radio_list02 label {
    display: block;
  }
  .contact_form_wrap dl .radio_list02 span:nth-of-type(1) label {
    margin-bottom: 1.5rem;
  }
  .contact_form_wrap dl.required.name input {
    margin-right: 1.6%;
  }
  .contact_form_wrap dl.required dt {
    padding-top: 0.625rem;
  }
  .contact_form_wrap dl.required .radio_dt {
    padding-top: 0;
  }
  .contact_form_wrap dl.required dd {
    position: relative;
  }
  .contact_form_wrap dl.required dd::after {
    top: 0.625rem;
    position: absolute;
    left: -3.75rem;
    font-size: 0.75rem;
    content: "必須";
    padding: 0.125rem 0.25rem;
    color: #F6434D;
    border: 1px solid #F6434D;
  }
  .contact_form_wrap dl.required .radio_list::after,
  .contact_form_wrap dl.required .radio_list02::after {
    top: 0.075rem;
  }
  .contact_form_wrap dl.required:first-of-type {
    padding: 4.375rem 1.25rem;
    border-top: none;
  }
  .contact_form_wrap dl.required:first-of-type dt {
    padding-top: 0;
  }
  .contact_form_wrap dl.required:first-of-type dd label {
    width: 20.625rem;
    display: inline-block;
  }
  .contact_form_wrap .btn_list {
    padding: 0.625rem 0 6.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact_form_wrap .btn_list .btn {
    font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", YuGothic, "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  }
  .contact_form_wrap .btn_list button {
    width: 17.5rem;
    padding: 1.4375rem 0;
    background-color: #182987;
    color: #fff;
    font-size: 1.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 500;
  }
}

@media only screen and (max-width: 767px) {
  .contact_form_wrap {
    margin: 15.64537vw 0;
    position: relative;
  }
  .contact_form_wrap::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
    background-color: #f0f0f0;
    height: 99%;
    width: 89.56975vw;
  }
  .contact_form_wrap .inner {
    width: 79.1395vw;
  }
  .contact_form_wrap .form_box {
    width: 100%;
    margin: auto;
  }
  .contact_form_wrap .reserve_box {
    margin: 0vw auto 5.21512vw;
    width: 100%;
  }
  .contact_form_wrap .left_box {
    position: relative;
    width: 100%;
    padding: 4.43286vw 0;
  }
  .contact_form_wrap .contact_txt_box {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 1rem;
    color: #fff;
    line-height: 1.75;
    text-align: center;
  }
  .contact_form_wrap .contact_txt_box .reserve_inner_box {
    margin: 1.30378vw auto;
    background-color: rgba(202, 58, 50, 0.8);
    padding: 2.60756vw 0;
    width: 63.49413vw;
  }
  .contact_form_wrap .contact_txt_box .reserve_inner_box span {
    font-size: 1.21429rem;
    line-height: 1.23529;
  }
  .contact_form_wrap .contact_txt_box .reserve_inner_box small {
    line-height: 1.75;
    font-size: 0.71429rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact_form_wrap .contact_txt_box .reserve_inner_box small::before {
    content: '';
    border-top: 2px solid;
    margin-right: 1.56454vw;
    width: 2.34681vw;
  }
  .contact_form_wrap .right_box {
    background-color: #fff;
  }
  .contact_form_wrap .right_box .reserve_txt_box {
    margin: auto;
    padding: 4.95437vw 0 5.86701vw;
    width: 71.31682vw;
    font-size: 0.71429rem;
  }
  .contact_form_wrap .right_box .reserve_ttl {
    font-size: 0.85714rem;
    margin-bottom: 4.82399vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact_form_wrap .right_box .reserve_ttl::before {
    content: "";
    border-top: 1px solid;
    width: 2.60756vw;
    margin-right: 3.38983vw;
  }
  .contact_form_wrap .right_box .reserve_txt {
    letter-spacing: 0.02em;
    font-size: 0.71429rem;
    line-height: 1.7;
  }
  .contact_form_wrap dl {
    padding: 5.21512vw 0;
  }
  .contact_form_wrap dl:not(:first-child) {
    border-top: 1px solid #dfdfdf;
  }
  .contact_form_wrap dl dt {
    font-weight: 500;
    font-weight: 500;
    color: #182987;
    font-size: 1rem;
    margin-bottom: 4.56323vw;
  }
  .contact_form_wrap dl dd input[type="text"],
  .contact_form_wrap dl dd input[type="email"] {
    height: 9.12647vw;
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
  .contact_form_wrap dl dd input[type="radio"] {
    font-size: 16px;
    width: 3.91134vw;
    height: 3.91134vw;
    margin-right: 1.56454vw;
  }
  .contact_form_wrap dl dd.zip {
    margin-bottom: 2.60756vw;
  }
  .contact_form_wrap dl dd.zip input {
    width: 49.54368vw;
  }
  .contact_form_wrap dl dd textarea {
    font-size: 16px;
    height: 49.54368vw;
    padding: 8px;
  }
  .contact_form_wrap dl .radio_list label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-top: 3.91134vw;
    font-size: 16px;
  }
  .contact_form_wrap dl .radio_list02 label {
    display: block;
    font-size: 16px;
  }
  .contact_form_wrap dl .radio_list02 label:first-child {
    margin-bottom: 3.12907vw;
  }
  .contact_form_wrap dl .radio_list02 input {
    vertical-align: -0.2em;
    font-size: 16px;
  }
  .contact_form_wrap dl.required.name dd input {
    width: 69.10039vw;
    margin-right: 2.60756vw;
  }
  .contact_form_wrap dl.required dt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact_form_wrap dl.required dt::after {
    top: 0;
    right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.71429rem;
    content: "必須";
    padding: 0.26076vw 0.78227vw;
    color: #F6434D;
    border: 1px solid #F6434D;
    margin-left: 3.91134vw;
  }
  .contact_form_wrap dl .radio_list label input[type="radio"],
  .contact_form_wrap dl .radio_list02 label input[type="radio"] {
    opacity: 0;
    position: absolute;
    z-index: -100;
  }
  .contact_form_wrap dl .radio_list label span,
  .contact_form_wrap dl .radio_list02 label span {
    padding-left: 5.47588vw;
    position: relative;
    display: inline-block;
  }
  .contact_form_wrap dl .radio_list label span::before, .contact_form_wrap dl .radio_list label span:after,
  .contact_form_wrap dl .radio_list02 label span::before,
  .contact_form_wrap dl .radio_list02 label span:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .contact_form_wrap dl .radio_list label span::before,
  .contact_form_wrap dl .radio_list02 label span::before {
    background: #fff;
    left: 0;
    width: 3.78096vw;
    height: 3.78096vw;
    border: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contact_form_wrap dl .radio_list label span::after,
  .contact_form_wrap dl .radio_list02 label span::after {
    background: #182987;
    width: 1.82529vw;
    height: 1.82529vw;
    left: 0.91265vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: none;
  }
  .contact_form_wrap dl .radio_list label input[type="radio"],
  .contact_form_wrap dl .radio_list02 label input[type="radio"] {
    opacity: 0;
    position: absolute;
    z-index: -100;
  }
  .contact_form_wrap dl .radio_list label input[type="radio"]:checked + span::after,
  .contact_form_wrap dl .radio_list02 label input[type="radio"]:checked + span::after {
    display: block;
  }
  .contact_form_wrap .btn_list {
    padding: 2.60756vw 0 13.03781vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", YuGothic, "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  }
  .contact_form_wrap .btn_list button {
    font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", YuGothic, "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
    width: 100%;
    padding: 3.91134vw;
    background-color: #182987;
    color: #fff;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reserve_box {
  display: none !important;
}

/*確認画面
---------------------*/
.mw_wp_form_confirm .contact_form_wrap .back_btn {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", YuGothic, "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  background-color: #CA3A32;
}

@media print, screen and (min-width: 768px) {
  .mw_wp_form_confirm .contact_form_wrap .back_btn {
    margin-left: 1.25rem;
  }
}

@media only screen and (max-width: 767px) {
  .mw_wp_form_confirm .contact_form_wrap .back_btn {
    margin-top: 2.60756vw;
  }
}

.mw_wp_form_confirm .msg,
.mw_wp_form_confirm .reserve_box {
  display: none;
}

/*完了画面
---------------------*/
.mw_wp_form_complete {
  margin-bottom: 6.25rem;
}

@media print, screen and (min-width: 768px) {
  .mw_wp_form_complete .btn_list {
    padding: 2.60756vw 0 13.03781vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mw_wp_form_complete .btn_list .next_btn {
    font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", YuGothic, "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
    width: 17.5rem;
    padding: 1.4375rem 0;
    background-color: #182987;
    color: #fff;
    font-size: 1.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .mw_wp_form_complete .btn_list {
    margin-top: 5.21512vw;
    padding: 0.625rem 0 6.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mw_wp_form_complete .btn_list .next_btn {
    font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", YuGothic, "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
    width: 100%;
    padding: 3.91134vw;
    background-color: #182987;
    color: #fff;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mw_wp_form_complete .btn_list .next_btn::before {
    content: "";
    border-top: 2px solid;
    width: 3.91134vw;
    margin-right: 3.12907vw;
  }
}
