@charset "UTF-8";
/*画像拡大(下層ページ用)
--------------------------------------------------------------*/
.img_ex_wrap.lower_img_ex {
  padding: 0;
}

.img_ex_wrap.lower_img_ex .service_box {
  z-index: -1;
  padding: 0;
}

.img_ex_wrap.lower_img_ex .service_box:not(:last-of-type) {
  margin-bottom: 0;
}

.img_ex_wrap.lower_img_ex .sec_tit_box02 {
  color: #fff;
}

.img_ex_wrap.lower_img_ex .col_txt_box {
  color: #333;
}

.img_ex_wrap .service_box {
  color: #fff;
  position: relative;
  z-index: 0;
}

.img_ex_wrap .service_box.active::before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.img_ex_wrap .service_box.active .aco_btn.open_btn {
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

.img_ex_wrap .service_box.active .aco_btn.close_btn {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.img_ex_wrap .service_img {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.img_ex_wrap .service_img img {
  -webkit-animation: scaleDown 15s ease-in-out 0s infinite alternate forwards;
  animation: scaleDown 15s ease-in-out 0s infinite alternate forwards;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  font-family: "object-fit:cover; object-position:50% 50%; ";
}

@media print, screen and (min-width: 768px) {
  .img_ex_wrap {
    padding: 0 3.75rem 9.375%;
  }
  .img_ex_wrap.lower_img_ex .service_box {
    margin: 0;
    min-height: 25rem;
  }
  .img_ex_wrap.lower_img_ex .inner {
    margin-top: -15rem;
  }
  .img_ex_wrap.lower_img_ex .sec_tit_box02 .sec_tit02 {
    padding-right: 5.33333%;
    position: relative;
  }
  .img_ex_wrap.lower_img_ex .sec_tit_box02 .sec_tit02::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    width: 0.0625rem;
    height: 1.25rem;
    position: absolute;
    bottom: 0.625rem;
    right: 1.25rem;
    z-index: 0;
  }
  .img_ex_wrap .service_box {
    padding: 6.5625rem 0 5.375rem;
    min-height: 26.875rem;
  }
  .img_ex_wrap .service_box:not(:last-of-type) {
    margin-bottom: 3.75rem;
  }
}

@media only screen and (max-width: 767px) {
  .img_ex_wrap {
    padding: 0 0 19.55671%;
    width: 89.56975vw;
    margin: auto;
  }
  .img_ex_wrap.lower_img_ex {
    width: 100%;
  }
  .img_ex_wrap.lower_img_ex .service_box {
    min-height: 49.54368vw;
  }
  .img_ex_wrap.lower_img_ex .service_box:not(:last-of-type) {
    margin: 0;
  }
  .img_ex_wrap.lower_img_ex .inner {
    width: 79.1395vw;
    margin: -33.89831vw auto 0;
  }
  .img_ex_wrap.lower_img_ex .sec_tit_box02 {
    text-align: left;
  }
  .img_ex_wrap.lower_img_ex .sec_tit_box02 .sec_tit02 {
    font-size: 2.14286rem;
  }
  .img_ex_wrap.lower_img_ex .sec_tit_box02 .sec_sbtit02 {
    font-size: 1rem;
    padding-left: 3.91134vw;
    position: relative;
    line-height: 0.7;
    margin-top: calc(2.60756vw - (((1em*0.7) - 1em)/2));
    margin-bottom: calc(0px - (((1em*0.7) - 1em)/2));
  }
  .img_ex_wrap.lower_img_ex .sec_tit_box02 .sec_sbtit02::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    width: 0.26076vw;
    height: 3.38983vw;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .img_ex_wrap .service_box {
    padding: 10.43025vw 0;
  }
  .img_ex_wrap .service_box:not(:last-of-type) {
    margin-bottom: 7.82269vw;
  }
}

/*青BOX(下層ページ用)
--------------------------------------------------------------*/
.col_area_box .content_txt {
  text-align: center;
  color: #fff;
  background: rgba(24, 41, 135, 0.9);
}

.col_area_box .content_txt .tit_no_box {
  letter-spacing: 0.025em;
}

.col_area_box .content_txt .txt_box {
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 0.03em;
}

@media print, screen and (min-width: 768px) {
  .col_area_box {
    margin-top: 3.75rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .col_area_box .content_txt {
    padding: 2.5rem 0 3.125rem;
  }
  .col_area_box .content_txt .tit {
    font-size: 1.25rem;
  }
  .col_area_box .content_txt .tit_no {
    font-size: 2.875rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
    display: inline-block;
  }
  .col_area_box .content_txt .txt_box {
    font-size: 1.25rem;
    margin-top: 1.25rem;
  }
}

@media only screen and (max-width: 767px) {
  .col_area_box {
    margin-top: 7.82269vw;
  }
  .col_area_box .content_txt {
    padding: 3.91134vw 0 6.5189vw;
  }
  .col_area_box .content_txt:not(:first-child) {
    margin-top: 7.82269vw;
  }
  .col_area_box .content_txt .tit_no_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    position: relative;
    padding-bottom: 2.60756vw;
  }
  .col_area_box .content_txt .tit_no_box::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    width: 5.21512vw;
    height: 0.26076vw;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .col_area_box .content_txt .tit {
    font-size: 0.92857rem;
  }
  .col_area_box .content_txt .tit_no {
    font-size: 1.78571rem;
    margin-left: 2.60756vw;
  }
  .col_area_box .content_txt .txt_box {
    width: 63.88527vw;
    font-size: 1.28571rem;
    margin-top: 3.91134vw;
  }
}

/*breadcrumbs（パンくずリスト）
-----------------------------------------------------------------------------*/
.breadcrumbs {
  margin-top: 4.375rem;
}

.breadcrumbs .list_area {
  text-align: right;
}

.breadcrumbs .list_area li {
  display: inline-block;
  list-style-type: none;
  padding-right: 1.125rem;
  position: relative;
  font-size: 0.8125rem;
  color: #fff;
  letter-spacing: 0.05em;
}

.breadcrumbs .list_area li:not(:last-child)::after {
  content: "／";
  display: block;
  width: 0.3125rem;
  height: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  z-index: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.breadcrumbs .list_area li a {
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  text-decoration: underline;
}

.breadcrumbs .list_area li a:hover {
  color: #515151;
}

/*mv_wrap
--------------------------------------------------------------*/
@media print, screen and (min-width: 768px) {
  .mv_wrap {
    height: 33.125rem;
  }
  .mv_wrap + * {
    padding-top: 7.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .mv_wrap {
    height: 69.10039vw;
  }
  .mv_wrap + * {
    padding-top: 9.12647vw;
  }
}

/*.under_mv（下層ページMV）
--------------------------------------------------------------*/
.under_mv {
  position: relative;
}

.under_mv .inner {
  position: absolute;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0 auto;
}

.under_mv .mv_txt_area {
  text-align: right;
  color: #fff;
  margin: auto;
}

.under_mv .mv_txt_area .mv_tit {
  letter-spacing: 0.025em;
}

.under_mv .mv_txt_area .mv_txt {
  letter-spacing: 0.1em;
  font-weight: 500;
  position: relative;
}

.under_mv .mv_txt_area .mv_txt::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.under_mv .mv_img {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.under_mv .mv_img img {
  -webkit-animation: scaleDown 15s ease-in-out 0s infinite alternate forwards;
  animation: scaleDown 15s ease-in-out 0s infinite alternate forwards;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  font-family: "object-fit:cover; object-position:50% 50%; ";
}

@media print, screen and (min-width: 768px) {
  .under_mv {
    height: 33.125rem;
  }
  .under_mv .inner {
    max-width: 1300px;
    top: 3.125rem;
  }
  .under_mv .mv_logo {
    width: 10.61538%;
  }
  .under_mv .mv_txt_area {
    margin-top: 1.875rem;
  }
  .under_mv .mv_txt_area .mv_tit {
    font-size: 4.6875rem;
    letter-spacing: 0.025em;
  }
  .under_mv .mv_txt_area .mv_txt {
    line-height: 1.73077;
    margin-top: calc(1rem - (((1em*1.73077) - 1em)/2));
    margin-bottom: calc(0px - (((1em*1.73077) - 1em)/2));
    font-size: 1.625rem;
    letter-spacing: 0.1em;
    padding-right: 2.75rem;
  }
  .under_mv .mv_txt_area .mv_txt::after {
    width: 1.875rem;
    height: 0.1875rem;
  }
}

@media only screen and (max-width: 767px) {
  .under_mv {
    height: 69.10039vw;
  }
  .under_mv .inner {
    width: 88.39635vw;
    top: 5.21512vw;
  }
  .under_mv .mv_logo {
    width: 17.99218vw;
  }
  .under_mv .mv_txt_area {
    margin-top: 13.55932vw;
  }
  .under_mv .mv_txt_area .mv_tit {
    font-size: 2.21429rem;
  }
  .under_mv .mv_txt_area .mv_txt {
    line-height: 0.57143;
    margin-top: calc(4.43286vw - (((1em*0.57143) - 1em)/2));
    margin-bottom: calc(0px - (((1em*0.57143) - 1em)/2));
    font-size: 1rem;
    padding-right: 6.5189vw;
  }
  .under_mv .mv_txt_area .mv_txt::after {
    width: 3.91134vw;
    height: 0.52151vw;
  }
}

/*.sec_tit_box02（下層セクションタイトル）
--------------------------------------------------------------*/
.sec_tit_box02 {
  text-align: center;
  color: #333333;
}

.sec_tit_box02 .sec_tit02 {
  letter-spacing: 0.025em;
}

.sec_tit_box02 .sec_sbtit02 {
  letter-spacing: 0.05em;
  font-weight: 500;
  color: #333333;
  position: relative;
}

.sec_tit_box02 .sec_sbtit02::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 0;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.sec_tit_box02 .sec_sbtit02.no_line {
  padding: 0;
  color: #fff;
}

.sec_tit_box02 .sec_sbtit02.no_line::after {
  display: none;
}

@media print, screen and (min-width: 768px) {
  .sec_tit_box02 .sec_tit02 {
    font-size: 3.25rem;
  }
  .sec_tit_box02 .sec_sbtit02 {
    font-size: 1.25rem;
    line-height: 2;
    margin-top: calc(1.25rem - (((1em*2) - 1em)/2));
    margin-bottom: calc(0px - (((1em*2) - 1em)/2));
    padding-bottom: 1.25rem;
  }
  .sec_tit_box02 .sec_sbtit02::after {
    width: 3.75rem;
    height: 0.0625rem;
  }
}

@media only screen and (max-width: 767px) {
  .sec_tit_box02 .sec_tit02 {
    font-size: 2.14286rem;
  }
  .sec_tit_box02 .sec_sbtit02 {
    font-size: 1rem;
    line-height: 0.7;
    margin-top: calc(3.91134vw - (((1em*0.7) - 1em)/2));
    margin-bottom: calc(0px - (((1em*0.7) - 1em)/2));
    padding-bottom: 3.91134vw;
  }
  .sec_tit_box02 .sec_sbtit02::after {
    width: 7.82269vw;
    height: 0.26076vw;
  }
}

/*.two_col_box（2カラム）
--------------------------------------------------------------*/
@media print, screen and (min-width: 768px) {
  .two_col_box .left_box {
    width: 50%;
  }
  .two_col_box .right_box {
    width: 50%;
  }
}

/*common_txt_area（GSCプライド）
--------------------------------------------------------------*/
.common_txt_area .tit_box {
  font-weight: 500;
  letter-spacing: 0.05em;
}

.common_txt_area .tit_box .sb_tit {
  color: #969696;
}

.common_txt_area .tit_box .tit {
  color: #182987;
  font-weight: 500;
}

.common_txt_area .txt {
  letter-spacing: 0.05em;
  color: #333;
}

@media print, screen and (min-width: 768px) {
  .common_txt_area .tit_box .sb_tit {
    font-size: 1.25rem;
  }
  .common_txt_area .tit_box .tit {
    font-size: 1.75rem;
    line-height: 1.71429;
    margin-top: calc(1.875rem - (((1em*1.71429) - 1em)/2));
    margin-bottom: calc(0px - (((1em*1.71429) - 1em)/2));
  }
  .common_txt_area .txt {
    font-size: 1.0625rem;
    line-height: 2.11765;
    margin-top: calc(3.125rem - (((1em*2.11765) - 1em)/2));
    margin-bottom: calc(0px - (((1em*2.11765) - 1em)/2));
  }
}

@media only screen and (max-width: 767px) {
  .common_txt_area .tit_box .sb_tit {
    font-size: 1.07143rem;
  }
  .common_txt_area .tit_box .tit {
    font-size: 1.28571rem;
    line-height: 1.61111;
    margin-top: calc(5.21512vw - (((1em*1.61111) - 1em)/2));
    margin-bottom: calc(0px - (((1em*1.61111) - 1em)/2));
  }
  .common_txt_area .txt {
    font-size: 1rem;
    line-height: 1.67857;
    margin-top: calc(5.21512vw - (((1em*1.67857) - 1em)/2));
    margin-bottom: calc(0px - (((1em*1.67857) - 1em)/2));
  }
}

/*contact
--------------------------------------------------------------*/
@media print, screen and (min-width: 768px) {
  #contact {
    margin-top: 7.5rem;
  }
}

@media only screen and (max-width: 767px) {
  #contact {
    margin-top: 15.64537vw;
  }
}

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes scaleDown {
  0% {
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes btnAnime01 {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes btnAnime01 {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
